* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  background-color: gray;
  margin: 10px;
  height: 90vh;
}
.chat-container {
  width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5%;
  height: 480px;

  background-color: aliceblue;
  box-shadow: rgba(143, 143, 250, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    rgba(41, 148, 255, 0.35) 0px -2px 6px 0px inset;
}

.container {
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 20px;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  margin: auto;
  background-color: aliceblue;
  padding: 10px;
  width: 200px;
  box-shadow: rgba(255, 173, 173, 0.12) 0px 1px 3px,
    rgba(255, 255, 255, 0.24) 0px 1px 2px;
  border-radius: 20px;
}

.chat-body {
  width: 100%;
  max-height: 400px;
  min-height: 400px;
  background-color: bisque;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1%;
  overflow: scroll;
  box-sizing: border-box;
}
.chat-body:nth-child(2n + 1) {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.chat-sender {
  height: 10vh;
  width: 100%;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 78% 20%;
  padding: 1%;
  grid-column-gap: 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-sender input {
  padding-left: 20px;
  font-size: 20px;
  outline-color: rgb(18, 195, 249);
  border-radius: 10px;
  border: none;
  color: rgb(46, 44, 44);
}
.chat-sender input:focus {
  background-color: rgb(248, 255, 236);
}

.chat-sender button {
  border-radius: 15px;
  letter-spacing: 1px;
  border-color: aquamarine;
  border-width: 1px;
  font-weight: bold;
  color: rgb(255, 219, 143);
  background-color: rgb(18, 195, 249);
}
.chat-sender button:active {
  background-color: rgb(124, 208, 211);
}

@media screen and (max-width: 700px) {
  .chat-container {
    width: 380px;
  }
  .container {
    margin: 0;
  }
}

#your-id {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  box-sizing: border-box;
}
